flask
plotly

flask_wtf
email-validator
weasyprint

biopython
primer3-py
flask-cors

openai


python-dotenv
flask-cors
primer3-py
viennarna
pandas

yfinance
pytz
requests

Pillow
weasyprint
wordcloud
matplotlib

